.navbar-brand.navbar-logo-bigger {
  padding: 0 0 60px 10px;
}
.navbar-brand.navbar-logo-bigger > img {
  position: relative;
  top: -5px;
  width: 225px;
}

.main-features {
  color: #DD4F5D;
  /*background-color: #c33d3d;*/
  background-color: #a5101e;

}

.feature-heading {
  color: #DD4F5D;
}

.main-features div[class^="col-"]:after {
  content: '';
  border-right: 1px dashed #DD4F5D;
  position: absolute;
  height: 80px;
  top: 50%;
  right: 0;
  margin-top: -40px;
}

.testimonial-with-bg {
  padding: 120px 0;
  background-image: url('../img/aaulyp/aaulyp_parallax.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: #fff;
}

footer .logo {
  width: 225px;
  margin-bottom: 15px;
}

.favicon-list-custom {
  color: #a5101e;
}

.gallery_image {
  margin-bottom: 1em;
}

#map {
  width: 75%;
  height: 300px;
  margin-top: 30px;
}